<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com._520it.wms.mapper.ChartMapper">

    <sql id="base_order_where">
        <where>
            <if test="beginDate != null">
                AND bill.vdate &gt;= #{beginDate}
            </if>
            <if test="endDate != null">
                AND bill.vdate &lt;= #{endDate}
            </if>
            <if test="keyword != null and keyword !='' ">
                AND p.name LIKE concat("%",#{keyword},"%")
            </if>
            <if test="supplierId > 0">
                AND s.id = #{supplierId}
            </if>
            <if test="brandId > 0">
                AND b.id = #{brandId}
            </if>
            AND bill.status = 1
        </where>
    </sql>

    <select id="orderChart" resultType="java.util.Map">
        SELECT ${groupType} groupType , SUM(item.number) totalNumber, SUM(item.amount) totalAmount
        FROM orderbillitem item LEFT JOIN orderbill bill ON item.bill_id = bill.id
                        LEFT JOIN product p ON item.product_id = p.id
                        LEFT JOIN supplier s ON bill.supplier_id = s.id
                        LEFT JOIN brand b on p.brand_id = b.id
                        LEFT JOIN employee inputUser ON bill.inputUser_id = inputUser.id
        <include refid="base_order_where"/>
        GROUP BY groupType
    </select>
    <sql id="base_sale_where">
        <where>
            <if test="beginDate != null">
                AND sc.vdate &gt;= #{beginDate}
            </if>
            <if test="endDate != null">
                AND sc.vdate &lt;= #{endDate}
            </if>
            <if test="keyword != null and keyword !='' ">
                AND p.name LIKE concat("%",#{keyword},"%")
            </if>
            <if test="clientId > 0">
                AND c.id = #{clientId}
            </if>
            <if test="brandId > 0">
                AND b.id = #{brandId}
            </if>
        </where>
    </sql>

    <select id="saleChart" resultType="java.util.Map">
        SELECT ${groupType} groupType , sum(sc.number) totalNumber , sum(sc.saleAmount) totalAmount , sum(sc.saleAmount - sc.costAmount) grossProfit
        FROM saleaccount sc LEFT JOIN product p ON sc.product_id = p.id
                    LEFT JOIN client c ON sc.client_id = c.id
                    LEFT JOIN brand b ON p.brand_id = b.id
                    LEFT JOIN employee inputUser ON sc.saleman_id = inputUser.id
        <include refid="base_sale_where"/>
        GROUP BY groupType
    </select>


</mapper>